@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#root > div > p{
 background-color: purple;
 text-align: center;
 color: white;
 margin-bottom: .1em;
 font-size: .8em;
 text-shadow: 1px 2px 2px rgb(66, 79, 151), 0 0 1em rgb(12, 12, 26), 0 0 0.2em rgb(35, 35, 125);
}

@media (max-width:480px){
  #root > div > p{
    font-size: .6em;
  }
}